<!DOCTYPE html>
<html>
<head>
  <title>Control Panel</title>
  <%= stylesheet_link_tag "admins" %>
  <%= javascript_include_tag "admins" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>
</head>
<body>

<div class="row headerrowgrey padding3h">
	<div class="icon-bar six-up">
	  <a class="item navcurrentarrow">
	    <%= image_tag('dashboardicon.png') %>
	    <label>DASHBOARD</label>
	  </a>
	  <a class="item">
	    <%= image_tag('analyticsicon.png') %>
	    <label>ANALYTICS</label>
	  </a>
	  <a class="item">
	    <%= image_tag('buildericon.png') %>
	    <label>BUILDER</label>
	  </a>
	  <a class="item">
	    <%= image_tag('mailingicon.png') %>
	    <label>MAILING LIST</label>
	  </a>
	  <a class="item">
	    <%= image_tag('leadboardicon.png') %>
	    <label>LEADERBOARD</label>
	  </a>
	  <a class="item">
	    <%= image_tag('settingsicon.png') %>
	    <label>SETTINGS</label>
	  </a>
	</div>
</div>

<div class="row padding3h">
	<div class="large-12 columns maincontent">
	<%= yield %>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	</div>
</div>


<script>
  $(document).foundation();
</script>

</body>
</html>
