<!DOCTYPE html>
<html>
<head>
  <title>Microsites</title>
  <%= stylesheet_link_tag "admins" %>
  <%= javascript_include_tag "admins" %>
  <%= csrf_meta_tags %>
</head>
<body>

		<% if flash[:notice] %>
		    <p id="notice" ><%= flash[:notice] %></p> 
		<% elsif flash[:alert] %>
		    <p id="alert" ><%= flash[:alert] %></p> 
		<% end %>
		
		<%= yield %>

</body>
</html>
